:root { 
--cyan_300_cc:#3acce6cc; 
--red_700:#e0282e; 
--blue_A400:#1677ff; 
--indigo_A200:#5a54f9; 
--black_900_3f:#0000003f; 
--purple_500_3f:#9e339f3f; 
--white_A700_33:#ffffff33; 
--green_A700:#00b96b; 
--black_900:#000000; 
--yellow_700:#f2bd27; 
--yellow_900:#f4801a; 
--blue_gray_900:#272b30; 
--purple_500:#9e339f; 
--blue_gray_400_33:#878a9933; 
--yellow_700_3f:#f2bd273f; 
--indigo_A200_cc:#5a54f9cc; 
--gray_700:#666666; 
--blue_gray_200:#b7c3c7; 
--blue_gray_100:#ced4da; 
--blue_gray_400:#878a99; 
--red_700_3f:#e0282e3f; 
--gray_800:#613b1f; 
--gray_900:#141414; 
--green_A700_cc:#00b96bcc; 
--green_A700_3f:#00b96b3f; 
--blue_gray_900_7f:#272b307f; 
--orange_300:#ffc247; 
--blue_A400_cc:#1677ffcc; 
--gray_100:#eff2f7; 
--cyan_300:#3acce6; 
--cyan_300_3f:#3acce63f; 
--indigo_100:#ccd6eb; 
--black_900_cc:#000000cc; 
--blue_gray_900_cc:#272b30cc; 
--white_A700:#ffffff; 
}